<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Token Vending Machine</display-name>
    
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>       
    
	
    <!-- ========================================================================================================== -->
    <!-- Servlet for GetToken -->
    <!-- ========================================================================================================== -->	
	<servlet>
		<display-name>GetTokenServlet</display-name>
		<servlet-name>GetTokenServlet</servlet-name>
		<servlet-class>com.amazonaws.tvm.GetTokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTokenServlet</servlet-name>
		<url-pattern>/gettoken/*</url-pattern>
	</servlet-mapping>
	
    
	<!-- ========================================================================================================== -->
    <!-- Servlet for UserRegisterServlet -->
    <!-- ========================================================================================================== -->		
	<servlet>
		<servlet-name>RegisterUserServlet</servlet-name>
		<servlet-class>com.amazonaws.tvm.identity.RegisterUserServlet</servlet-class>
		<init-param>
            <param-name>success</param-name>
            <param-value>/register-success.jsp</param-value>
        </init-param>
		<init-param>
            <param-name>error</param-name>
            <param-value>/register-failure.jsp</param-value>
        </init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserServlet</servlet-name>
		<url-pattern>/registeruser/*</url-pattern>
	</servlet-mapping>
    
    
    <!-- ========================================================================================================== -->
    <!-- Servlet for LoginServlet -->
    <!-- ========================================================================================================== -->	
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.amazonaws.tvm.identity.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    
             
</web-app>
